# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Git
.git/
.gitignore

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data (raw / training)
data/
datasets/

# Logs
*.log

# Local configs
.env
